
form{
  width: 300px;
    background-color: transparent;
    margin: 0 auto;
  padding: 20px;
  padding-left: 40px;
  padding-right: 60px;
  margin-top: 300px;
  position: relative;
}

h2{
    text-align: center;
    color: rgba(0, 0, 0, 0.863);
    font-weight: bolder;
}


label{
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}
input[type="username"],
input[type="password"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;

}
input[type="submit"]{
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    color: rgba(255, 255, 255, 0.836);
    background-color: rgba(21, 184, 122, 0.767);
    border: none;
    font-size: 22px;
    border-radius: 5px;
    margin-left: 35px;
}
.div1{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    margin-top: -35px;
    margin-left: 251px;
}
.div2{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color:  rgba(21, 184, 122, 0.767);
    position: absolute;
    margin-top: -71px;
    margin-left: 290px;
}